div, .container, .contact_div{
  justify-content: center;
  margin-top: 40px;
}

ol {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #dddddd;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  list-style: none;
  width: 50%; 
  display: flex;
  justify-content: center;
}

label{
  color: black;
  margin-top: 20px;
  margin-right: 5px;
}

button#del{
  margin-left: 4px;
}

.home{
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
